<div [@routerTransition]>
    <div class="row">
        <div class="page-header">
            <h4>table example</h4>
        </div>
        <div class="table-responsive">
		<mat-table #table [dataSource]="dataSource">
		   <!--- Note that these columns can be defined in any order.
		         The actual rendered columns are set as a property on the row definition" -->
		   <!-- Position Column -->
		   <ng-container matColumnDef="nm">
		     <mat-header-cell *matHeaderCellDef> NM </mat-header-cell>
		     <mat-cell *matCellDef="let element"> {{element.nm}} </mat-cell>
		   </ng-container>
		
		   <!-- Name Column -->
		   <ng-container matColumnDef="cd">
		     <mat-header-cell *matHeaderCellDef> CD </mat-header-cell>
		     <mat-cell *matCellDef="let element"> {{element.cd}} </mat-cell>
		   </ng-container>
		
		   <!-- Weight Column -->
		   <ng-container matColumnDef="url">
		     <mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
		     <mat-cell *matCellDef="let element"> {{element.url}} </mat-cell>
		   </ng-container>
		   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		   <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
    </div>
</div>
