<div [@routerTransition]>
    <app-page-header [heading]="'ITEM DASHBOARD'"></app-page-header>
    <div class="row">
        <div class="col col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    상세정보
                </div>
                <div class="card-body row">
                    <div class="col-lg-1">회사명</div>
                    <div class="col-lg-5">{{item?.nm}}</div>
                    <div class="col-lg-1">종목코드</div>
                    <div class="col-lg-3">{{item?.cd}}</div>
                    <div class="col-lg-1">보유여부</div>
                    <div class="col-lg-1">{{item?.f_yn}}</div>
                    <div class="col-lg-1">사업내용</div>
                    <div class="col-lg-5">{{item?.biznm}}</div>
                    <div class="col-lg-1">주요사업</div>
                    <div class="col-lg-5">{{item?.cbiznm}}</div>
                    <div class="col-lg-1">강점</div>
                    <div class="col-lg-11">{{item?.pros}}</div>
                    <div class="col-lg-1">약점</div>
                    <div class="col-lg-11">{{item?.cons}}</div>
                    <div class="col-lg-1">발행주식</div>
                    <div class="col-lg-2">{{item?.stknum}}</div>
                    <div class="col-lg-1">자산(억)</div>
                    <div class="col-lg-2">{{item?.eqcap/10000000 |number:'.0-0'}} </div>
                    <div class="col-lg-1">종목분류</div>
                    <div class="col-lg-1">{{item?.stktm}}</div>
                    <div class="col-lg-1">투자매력</div>
                    <div class="col-lg-3">{{item?.attr}}</div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    기업요소
                </div>
                <div class="card-body row">
                    <div class="col-lg-1">단순성</div>
                    <div class="col-lg-11">{{bizAnal?.v101}}</div>
                    <div class="col-lg-1">일관성</div>
                    <div class="col-lg-11">{{bizAnal?.v102}}</div>
                    <div class="col-lg-1">전망성</div>
                    <div class="col-lg-11">{{bizAnal?.v103}}</div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    재무요소
                </div>
                <div class="card-body row">
                    <div class="col-lg-3">
                        <nvd3 [options]="croOptions" [data]="croBar"></nvd3>
                    </div>
                    <div class="col-lg-3">
                        <nvd3 [options]="roeOptions" [data]="roeBar"></nvd3>
                    </div>
                    <div class="col-lg-3">
                        <nvd3 [options]="rosOptions" [data]="rosBar"></nvd3>
                    </div>
                    <div class="col-lg-3">
                        <nvd3 [options]="wcpOptions" [data]="wcpBar"></nvd3>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    가치요소
                </div>
                <div class="card-body row">
                    <div class="col-lg-6">
                        <nvd3 [options]="priceOptions" [data]="priceLine"></nvd3>
                    </div>
                    <div class="col-lg-6">
                        <nvd3 [options]="valueOptions" [data]="valueLine"></nvd3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
