<div [@routerTransition]>
    <div class="row">
        <div class="page-header">
            <h4>종목 목록</h4>
        </div>
        <div class="card-body row">
            <mat-form-field>
                <input matInput placeholder="Input">
            </mat-form-field><br/>
            <mat-form-field>
                <textarea matInput placeholder="Textarea"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
